.bbOpa1{
    background-color: rgba(10, 10, 10, 0.1);
  }
  .bbOpa2{
    background-color: rgba(10, 10, 10, 0.2);
  }
  .bbOpa4{
    background-color: rgba(10, 10, 10, 0.4);
  }
  .bbOpa6{
    background-color: rgba(10, 10, 10, 0.6);
  }
  .bbOpa8{
    background-color: rgba(10, 10, 10, 0.8);
  }
  .bwOpa1{
    background-color: rgba(255, 255, 255, 0.1);
  }
  .bwOpa2{
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bwOpa4{
    background-color: rgba(255, 255, 255, 0.4);
  }
  .bwOpa6{
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bwOpa8{
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .bbOpa10{
    background-color: rgba(10, 10, 10, 0.1);
  }
  .exBgColorBlack20{
    background-color: rgba(10, 10, 10, 0.2);
  }
  .exBgColorBlack40{
    background-color: rgba(10, 10, 10, 0.4);
  }
  .exBgColorBlack60{
    background-color: rgba(10, 10, 10, 0.6);
  }
  .exBgColorBlack80{
    background-color: rgba(10, 10, 10, 0.8);
  }